@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
ol{
    list-style: lower-roman;
    padding:0;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: blue;
}
ul li:nth-child(even){
    color: red;
}


ul ::marker {
    color: rgba(245, 14, 14, 0.959);
    font-family: 'fantasy';
    font-size: 1em;
    content:"Only 5$>>"
}

/* 
   cSS LINKS
a{
    cursor:pointer;
    color:hsl(207, 44%, 49%);
}



a:visited {color: purple;
} 
    
a:hover{
    color:hsl(207, 44%, 59% ,0.8);
    background-color: gold;
}


a:active {
    color: red;
}

 

    
 */
